name: Build Minimal sing-box Core

on:
workflow_dispatch:
inputs:
version:
description: 'sing-box version (tag/branch) to build'
required: true
default: 'main'

jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Checkout official sing-box repository
uses: actions/checkout@v4
with:
repository: 'reF1nd/sing-box'
ref: ${{ github.event.inputs.version }}

- name: Set up Go
uses: actions/setup-go@v5
with:
go-version: '1.22'

- name: Build sing-box for arm64
env:
CGO_ENABLED: 0
GOOS: linux
GOARCH: arm64
run: |
go build -v -o sing-box-linux-arm64 -trimpath \
-ldflags="-s -w" \
-tags="with_quic with_clash_api" \
./cmd/sing-box

- name: Upload Artifact
uses: actions/upload-artifact@v4
with:
name: sing-box-minimal-${{ github.event.inputs.version }}-arm64
path: sing-box-linux-arm64
